nav a{
    text-decoration: none;
    color: chartreuse;
    transition: 0.5s;
}

nav a:hover {
    color: darkseagreen;
    background-color:aquamarine;
     font-weight:bold;
     font-style: oblique;
}